// Define variables for your color scheme

// For example:
//Heating Lamp//
$red: #EC481F;
//Severe Seal//
$yellow: #EEE8DE;
//Devonshire//
$brown: #F5F0E7;
//Encarnado//
$orange: #F50505;

$light-orange: #FF8D23;
//NOT IN USE//
$blue: #0D6EFD;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;