// Define variables for your color scheme

// For example:
//Heating Lamp//
$red: #EC481F;
//Severe Seal//
$yellow: #EEE8DE;
//Devonshire//
$yellow-orange: #F5F0E7;
//Encarnado//
$orange: #F50505;
//         //
$light-orange: #FF8D23;
//Ivory//
$white: #FFFFF0;
//Black//
$black: #000000 //NOT IN USE//
    // $blue: #0D6EFD;
    // $green: #1EDD88;
    // $gray: #0E0000;
    // $light-gray: #F4F4F4;