
<div class="container">
  <h3>Select your interests:</h3>
  <%= simple_form_for @user, url:  users_update_interest_path do |f| %>
    <%= f.association "interests", as: :check_boxes, multiple: true, collection: Interest.all, include_hidden:false %>
    <%= f.submit class: 'btn btn-primary text-dark fw-bold' %>
  <% end %>
  <a href="/">Back</a>
</div>
