<style>
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .activity-card-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
  }
  .card-body {
    font-size: 14px;
  }
  .card-link {
    color: #007bff;
    text-decoration: none;
  }
  .card-link:hover {
    text-decoration: underline;
  }
</style>

<div class="container">
  <div class="row">
    <div>
      <br>
      <h1>My Favorites</h1>
      <br>
      <br>
      <div class="card-container">
        <% if @favorites.any? %>
          <% @favorites.each_with_index do |favorite, index| %>
            <div class="card">
              <div class="card-title"><%= "#{favorite.favoritable.name}" %></div>
              <div class="activity-card-image" style="background-image: url(<%= cl_image_path favorite.favoritable.photos.sample.key %>)"></div>
              <div class="card-body"><%= favorite.favoritable.description %></div>
              <div class="card-link"><%= link_to "View activity", favorite.favoritable, class: "btn btn-primary" %></div>
            </div>
          <% end %>
        <% else %>
          <p class="empty-favorites">Your watchlist is empty.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
