.btn-book-now {
    width: 160px;
    height: 38px;
    font-size: 19px;
    text-align: center;
    margin: 10px;
}

.calender-availability-field {
    border-radius: 30px;
    background-color: $white;
}

.number-of-pax-field {
    border-radius: 30px;
    background-color: $white;
}

.booking-comment-field {
    border-radius: 30px;
    background-color: $white;
    text-align: center;
}