.btn-book-now {
    text-align: center;

}

.calender-availability-field {
    border-radius: 30px;
    background-color: $white;
}

.number-of-pax-field {
    border-radius: 30px;
    background-color: $white;
}

.booking-comment-field {
    border-radius: 30px;
    background-color: $white;
    text-align: center;
}


// .btn-edit-activity {}