//Booking Show//

.booking-show {
  margin-left: auto;
  padding: 25px 100px 50px 100px;
  box-shadow: 10px 5px 5px #D23333;
  margin-bottom: 50px;
}

.back-to-booking {
  margin-bottom: 15px;
}

//fake button//
.frozen-button {
  margin-bottom: 15px;
}

.booking-index {
  box-shadow: 10px 5px 5px #D23333;
  margin-bottom: 50px;
}

.booking-form {

  border-radius: 10px;
  margin: 10px 70px 75px -50px;

  // box-shadow: 0 2px 12px -3px $red;
  // background-color: #FFFFF0;

}

.booking-activity-form {
  max-width: 300px;
  /* adjust this value as needed */
  margin: 0 auto;
  /* center the box horizontally */
  padding: 0px 55px 15px 55px;
  /* add padding to the content */
  box-shadow: 0px 0px 16px rgba(194, 198, 204, 0.6);
  /* add a border around the box */
}

#booking_comment {
  text-align: center;
  width: 100%;
  background-color: #FFFFF0;

}


//boooking index//
.body-size-booking {}