//Booking Show//

.booking-show {
    margin-left: auto;
    padding: 25px 100px 50px 100px;
    box-shadow: 10px 5px 5px #D23333;
    margin-bottom: 50px;
}

.back-to-booking {
    margin-bottom: 15px;
}

.booking-index {
    box-shadow: 10px 5px 5px #D23333;
    margin-bottom: 50px;
}

#booking_comment {
    width: 50%;
    background-color: #FFFFF0;
}