//Booking Show//

.booking-show {
    margin-left: 73px;
    padding: 25px 100px 50px 100px;
    box-shadow: 10px 5px 5px #D23333;
    margin-bottom: 50px;
}

.back-to-booking {
    margin-left: 73px;
    margin-bottom: 20px;
}

.booking-index {
    box-shadow: 10px 5px 5px #D23333;
    margin-bottom: 50px;
}