.login-screen {
    background-image: url('https://images.unsplash.com/photo-1507608616759-54f48f0af0ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    /* to make the image cover the entire div */
}


.login-email-field {
    margin-right: 800px;
    border-radius: 30px;
    background-color: $white;
}

.password-field {
    padding-right: 30px;
    border-radius: 30px;
    background-color: $white;
}

.login-btn-login {
    width: 288px;
    height: 60px;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-left: 275px;
}

.login-forgot-password {
    text-decoration: none;
    color: #9A9A9A;
}

.login-registerable {
    text-decoration: none;
    color: $black;
}