.login-logo {
    font-family: 'Lemon';
    font-size: xx-large;
    color: $red;
}

.login-email-field {
    margin-right: 800px;
    border-radius: 30px;
    background-color: white;
}

.login-password-field {
    padding-right: 30px;
    border-radius: 30px;
    background-color: white;
}

// .login-btn-login {}

.login-forgot-password {
    text-decoration: none;
    color: #9A9A9A;
}

.login-registerable {
    text-decoration: none;
    color: #9A9A9A;
}