<h1>Editing booking</h1>

<%= render "form", activity: @activity, booking: @booking %>

<br>

<div>
  <%= link_to "Show this activity", activity_path(@activity) %> |
  <%= link_to "Back to activities", activities_path %>
</div>
