<div class="about-us-image" style="position: relative;">
  <!-- The image tag displays the image from Unsplash and is resized to make it look like a Facebook banner -->
  <img src= "https://www.cpf.gov.sg/member/infohub/educational-resources/from-yolo-to-fire-ways-to-prepare-for-your-retirement/_jcr_content/image.coreimg.jpeg/1669274361760/young-people-pursuing-passions.jpeg" style="width: 100%; height: auto; object-fit: cover; object-position: 50% 50%; max-height: 420px;">
   <div class="overlay"></div>
</div>
<br>
<br>
<div class="aboutus-card; margin-top:10px">
<section class="about-us-container">
  <div class="container">
    <h2 class="about-us">About Us</h2>
    <div class="horizontal-line"></div>
    <div class="about-us; margin-top:5px">
      <h2 style="color:black; font-size:18px;text-align:justify"><strong>ToGather</strong> was born out of the shared passion of four individuals from Le Wagon, a leading coding bootcamp, who were driven by the desire to build a stronger sense of community in Singapore. The team recognized the need for a platform that could bring neighbours together, foster social connections and revive the kampung spirit that has been lost in modern society. Drawing on their diverse backgrounds and experiences, they created an avenue to enable people to host activities and share their skills, providing an opportunity for socializing and making new friends while earning money. By doing so, the team aims to create a win-win situation, with economic and social benefits for the community while boosting creativity and providing opportunities for freelancers, stay-home moms, and the elderly to work and share their knowledge about their neighbourhood. With ToGather, the team is proud to contribute to building a more inclusive, connected, and vibrant community in Singapore, and they look forward to seeing the platform grow and make a real difference in people's lives.</h2>
    </div>
  </div>
</section>
<br>
<br>
<section class="more-info">
  <div class="container">
    <h2 class="about-us">What ToGather Means to Us</h1>
    <div class="horizontal-line"></div>
    <div class="about-us">
      <h2 style="color:black; font-size:18px;text-align:justify">In the past, Singapore's kampung spirit was alive and vibrant, with neighbors coming together to form close-knit communities. However, modernization and our increasingly hectic lifestyles have led to a decline in these connections. At <strong>Togather</strong>, we believe that it's important to bring people back together and foster a sense of community spirit.
      That's why our platform is a combination of <strong><i>"together"</i></strong> and <strong><i>"gather"</i></strong>, two words that embody our mission of bringing people together to form meaningful connections.</h2>
    </div>
  </div>
</section>
<br>
<br>
<section class="more-info">
  <div class="container">
    <h2 class="about-us">Our Vision</h2>
    <div class="horizontal-line"></div>
    <div class="about-us">
      <h2 style="color:black; font-size:18px;text-align:justify">Our vision is "Together, we make our neighborhood thrive." We believe that by connecting people and celebrating diversity, we can create stronger, more resilient communities. Through Togather, we hope to inspire a renewed sense of belonging and foster meaningful connections that will benefit Singaporeans from all walks of life.</h2>
      <img src= "https://www.hdb.gov.sg/-/media/HDBContent/Images/CRG/heartland-stories-banner.ashx" style="width: 50%; height: auto; object-fit: cover; object-position: 50% 50%; display: block;margin:0 auto; max-height: 500px; margin-top:50px;margin-bottom:30px">
  </div>
</section>
</div>
<br>
<section class="our-team">
  <div class="container">
    <h2 class="about-us">Meet Our Team</h2>
    <div class="horizontal-line"></div>
    <br>
    <div class="aboutus-card">
      <div class="row">
        <div class="col-md-3 col-sm-3 team-member">
          <%= image_tag("yongchian.png", alt: "YC image", size: "300x200", class: "img-thumbnail rounded-circle")%>
          <div class="name">Yong Chian</div>
        </div>
        <div class="col-md-3 col-sm-3 team-member">
          <%= image_tag("zul.jpg", alt: "Zul image", size: "300x200", class: "img-thumbnail rounded-circle")%>
          <div class="name">Zulaikha</div>
        </div>
        <div class="col-md-3 col-sm-3 team-member">
          <%= image_tag("amir.png", alt: "Amir image", size: "300x200", class: "img-thumbnail rounded-circle")%>
          <div class="name">Amir</div>
        </div>
        <div class="col-md-3 col-sm-3 team-member">
          <%= image_tag("evonne.png", alt: "Evonne image", size: "300x200", class: "img-thumbnail rounded-circle")%>
          <div class="name">Evonne</div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<br>
