<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>

<body>
    <div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <section class="py-4 py-xl-5">
                            <div class="container">
                                <div class="text-center p-4 p-lg-5" style="padding-left: 38px;margin-left: -25px;">
                                    <h1 class="fw-bold text-start mb-4" style="padding-left: 4px;margin-left: 18px;">Cooking and Baking</h1>
                                </div>
                            </div>
                            <p style="padding-right: 15px;margin-right: 5px;margin-left: 6px;padding-left: 27px;padding-bottom: 0px;margin-top: -31px;padding-top: 0px;margin-bottom: 0px;">Here are some of the popular cooking and baking classes enjoyed by your neighbours! </p>
                        </section>
                    </div>
                    <div class="col-11 col-sm-11 col-md-5 col-lg-4 col-xl-4 col-xxl-4" style="padding-left: 30px;padding-top: 10px;margin-top: 70px;">
                        <div class="container-fluid">
                            <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="0">
                                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                    <div class="carousel-item col-md-3 active"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/000/fff?text=1" alt="slide 1" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400/?text=2" alt="slide 2" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=3" alt="slide 3" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=4" alt="slide 4" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=5" alt="slide 5" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=6" alt="slide 6" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=7" alt="slide 7" /></div>
                                    <div class="carousel-item col-md-3"><img class="img-fluid mx-auto d-block" src="//placehold.it/600x400?text=8" alt="slide 7" /></div>
                                </div><a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev"><i class="fa fa-chevron-left fa-lg text-muted"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next"><i class="fa fa-chevron-right fa-lg text-muted"></i><span class="sr-only">Next</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 99px;">
        <div class="container">
            <h1>What is popular near you</h1>
        </div>
        <div class="container">
            <div class="row">
               <% @activities.each do |activity| %>
                <%= render "activities/activity", activity: activity %>
               <% end %>

            </div>
        </div>
    </div>
    <div style="margin-top: 40px;">
        <div class="container">
            <h1 style="padding-left: 0px;">Browse all options</h1>
        </div>
        <div class="container">
            <div class="row">
               <div class="row">
               <% @activities.each do |activity| %>
                <%= render "activities/activity", activity: activity %>
               <% end %>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="margin-top: 30px;">
                    <div class="card">
                        <div class="card-body">
                            <div id="carousel-7" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-7" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-7" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-bs-target="#carousel-7" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-7" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-7" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <h4 class="card-title">Activity</h4>
                            <h6 class="text-muted card-subtitle mb-2">Location</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. (Mini description)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 30px;">
                    <div class="card">
                        <div class="card-body">
                            <div id="carousel-8" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-8" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-8" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-bs-target="#carousel-8" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-8" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-8" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <h4 class="card-title">Activity</h4>
                            <h6 class="text-muted card-subtitle mb-2">Location</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. (Mini description)</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="margin-top: 30px;">
                    <div class="card">
                        <div class="card-body">
                            <div id="carousel-9" class="carousel slide" data-bs-ride="false">
                                <div class="carousel-inner">
                                    <div class="carousel-item active"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                    <div class="carousel-item"><img class="w-100 d-block" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" alt="Slide Image" /></div>
                                </div>
                                <div><a class="carousel-control-prev" href="#carousel-9" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-9" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                                <ol class="carousel-indicators">
                                    <li class="active" data-bs-target="#carousel-9" data-bs-slide-to="0"></li>
                                    <li data-bs-target="#carousel-9" data-bs-slide-to="1"></li>
                                    <li data-bs-target="#carousel-9" data-bs-slide-to="2"></li>
                                </ol>
                            </div>
                            <h4 class="card-title">Activity</h4>
                            <h6 class="text-muted card-subtitle mb-2">Location</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. (Mini description)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <section class="py-4 py-xl-5">
                <div class="container">
                    <div class="container-banner-image1 text-white bg-dark border rounded border-0 p-4 p-md-5" style="margin-left: -10px;margin-right: -12px;; background: url('https://www.psd.gov.sg/images/default-source/challenge-library/ideas/deep-dive/singapore-together-citizen-engagement-projects/deep_dive_thumb.jpg'), rgb(58,138,218);">
                        <h2 class="fw-bold text-white mb-3">Build a community with us!</h2>
                        <p class="mb-4">Earn extra just by hosting activities!</p>
                        <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div style="padding-bottom: 0px;margin-bottom: 82px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="padding-left: 40px;">
                    <h1>Discover moments shared by ToGatherers!</h1>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a>
                </div>
                <div class="col-md-6">
                    <picture><img width="" height="275" src="https://www.cf.org.sg/wp-content/uploads/2022/03/Assisting-individuals-with-disabilities-min.jpg" style="padding-left: 0px; margin-left: 223px;"></picture>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
