<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Untitled</title>
</head>

<body>

<div class="top-banner-image" style="position: relative;">
  <!-- The image tag displays the image from Unsplash and is resized to make it look like a Facebook banner -->
  <img src= "https://images.unsplash.com/photo-1608911807240-ce199bfbdb64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" style="width: 100%; height: auto; object-fit: cover; object-position: 50% 50%; max-height: 700px;">

  <div class="overlay"></div>

  <!-- The heading and text are centered on top of the image in white text -->
  <div class="banner-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align:center;" data-controller="animation" data-animation-threshold-value="0.8">
    <h1 style="color: white; text-align: center; font-size: 48px; display: inline;">Connect with Your <span data-animation-target="fadeInTop" style="color: orange;">Neighbours</span>
    <br>And Uncover<span data-animation-target="fadeInTop" style="color: red;"> Hidden Gems.</span></h1>
    <br>
    <br>
    <br>
    <div class="banner-text" style="color: white; text-align: center; font-size: 24px;" >Together, we make our neighborhood thrive.</p></div>
  </div>
</div>

<div style="margin-top: 50px;" data-controller="animation" data-animation-threshold-value="0.2">
  <div class="container">
    <h1 data-animation-target="fadeInBottom" style="padding-left: 0px;">
      <% if user_signed_in? %>
        Popular near you
      <% else %>
        What's popular near you
      <% end %>
    </h1 data-animation-target="fadeInBottom" style="padding-left: 0px;">
     <div class="horizontal-line"></div>
</div>

  <div class="container">
    <div class="row justify-content-center">
      <% @activities_near_you.shuffle.each do |activity| %>
        <%= render "activities/activity", activity: activity %>
      <% end %>
    </div>
  </div>
    </div>

    <div style="margin-top: 40px;" data-controller="animation" data-animation-threshold-value="0.2">
        <div class="container">
            <h1 data-animation-target="fadeInBottom" style="padding-left: 0px;">Browse all options</h1>
            <div class="horizontal-line"></div>
        </div>
    </div>

        <div class="container">
            <div class="row">
               <div class="row justify-content-center">
               <% @activities.first(9).shuffle.each do |activity| %>
                <%= render "activities/activity", activity: activity %>
               <% end %>
            </div>
        </div>
    </div>


  </div>
  <div>
      <div class="container">
          <div class="normal-line"></div>
          <section class="py-4 py-xl-5">
              <div class="container">
                  <div class="container-banner-image1 text-white bg-dark border rounded border-0 p-4 p-md-5" style="margin-left: -10px;margin-right: -12px;; background: url('https://www.dbs.com/documents/297834311/299395518/5-easy-ways-to-convert-your-hdb-flat-into-a-smart-green-home-main.jpg/e0059cd6-f7d8-cd3c-5829-6e2516ed6d3a?version=1.0&t=1629774476582&imagePreview=1');">
                      <h2 class="fw-bold text-white mb-3">Build a community with us!</h2>
                      <p class="mb-4">Earn by hosting activities</p>
                      <div class="my-3"><a class="btn btn-primary btn-lg me-2" role="button" href="#">Find out more!</a></div>
                  </div>
              </div>
          </section>
      </div>
  </div>
  <div style="padding-bottom: 0px;margin-bottom: 82px;">
      <div class="container">
          <div class="normal-line"></div>
          <div class="row">
              <div class="col-md-6" style="padding-left: 40px;">
                  <h1><strong>Discover moments shared by ToGatherers!</strong></h1>
                  <span><p style="margin-top: 20px; text-align:justify; color:black;">ToGatherers play an important role in building stronger connections within their local community, which can have a positive impact on the overall environment of their neighborhood. By creating opportunities for people to come together and participate in shared activities and moments, ToGatherers can help foster a greater sense of community and togetherness, which can lead to a more vibrant and supportive environment for everyone involved.</p></span>
                  <a class="btn btn-primary btn-lg me-2" role="button" href="#">Visit Our Moments</a>
              </div>
              <div class="col-md-6">
                  <picture><img id="carouselImage" class="carousel-image" width="480" height="360" src="https://www.hdb.gov.sg/-/media/HDBContent/Images/CCG/dw2001hancommunity.ashx" style="padding-left: 0px; margin-left: 85px;"></picture>
              </div>
          </div>
      </div>
  </div>

<script>
  $(document).ready(function(){
    $('#myCarousel').carousel({
      interval: 2000
    })
  });
</script>

</body>



</html>
