/*activity card*/
.activity-card {
    background: rgb(233, 234, 231);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.activity-card-image {
    height: 300px;

    background-size: cover;

}

//Heart shape
.activity-card .fa-heart {
    color: #D23333;
}
