/*activity card*/
.activity-card {
    background: rgb(233, 234, 231);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-left: 30px;
    margin-top: 20px;
}

.activity-card-image {
    height: 300px;
    background-size: cover;
    background-position: center;
}

//Heart shape
.activity-card .fa-heart {
    color: #D23333;
}
