/*activity card*/
.activity-card {

    background: rgb(255, 255, 255);
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    padding-bottom: 20px;
}

.activity-card img {
    height: auto;
    width: 300px;
}

// HTML = <i class="fa-solid fa-calendar-days"></i>//

//Heart shape