.btn {
    font-family: 'IM Fell Great Primer', "sans-serif";
    ;
    background: $red;
    border-radius: 30px;
    color: $white;
}

// .cancel_button {
//     color: #FF8D23;
//     font-family: 'Source Serif Pro', sans-serif;
// }



/* Rectangle 66 */