.chatroom {
  background: white;
  margin-top: 9px;
  margin-bottom: 15px;
  height: calc(90vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
    background-color: #EFF0F2;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;
    background-color: white;



    .form-group {
      margin-bottom: 0;


    }
  }

  .avatar-chatroom {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }

}

.main-container {
  padding: 48px 200px 61px 200px;
}

.message-box {}

#message_content {
  background-color: white;
}
