.chatroom {
  background: white;
  margin-top: 9px;
  margin-bottom: 15px;
  height: calc(80vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {

    margin-bottom: 0;
    padding: 1rem;
  }


  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;



  }

  #message-input {
    background-color: rgb(17, 17, 16);
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;


    .form-group {
      margin-bottom: 0;


    }
  }

  .avatar-chatroom {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
}