.footer-logo {
    font-family: 'Lemon';
    font-size: xx-large;
}

.footer {
    color: $yellow;
}

#js-footer {
    background: $black;
    padding-bottom: 29px;
}

.footer-p1 {
    font-size: 14px;
}

.footer-p2 {
    font-size: 12px;
}


.footer-link {
    text-decoration: none;
    color: $yellow;
}

h4 {
    font-family: $headers-font;
    font-size: 20px;
}

.footer-container {
    background-color: black;
    color: white;
}