.footer-logo {
    font-family: 'Lemon';
    font-size: xx-large;
}

.footer {
    color: $yellow;
}

#js-footer {
    background: $black;
    padding-bottom: 29px;
}

.footer-link {
    text-decoration: none;
    color: $yellow;
}

h4 {
    font-family: $body-font;
}

// .footer .fa-heart {
//     color: #D23333;
// }