// <button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-ok"></i>
// SPORT
// </button>

.btn-circle.btn-xl {
    width: 150px;
    height: 150px;
    padding: 10px 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 75px;
}

.btn-info {
    color: $white;
    font-family: 'Lemon';
}

.form-check-label {
  display: flex;
  align-items: center;
}

.interest-name {
  margin-left: 10px;
}
