.modal-header {
  display: flex;
}

.modal-content {
  display: flex;
}

.modal-content h2 {
  margin-left: 0;
  margin-right: auto;
  align-items: center;
}

.modal-content .close {
  margin-left: 80px;
  margin-top: -60px;
  margin-right: 0;
  color: $orange;
}
