.navbar {
  background-color: $yellow-orange;
}

.navbar-brand:hover {
  color: $orange;
}


//Logo Font and Color//
.navbar-brand {
  font-family: 'Lemon';
  font-size: xx-large;
  color: $red;
}

.navbar-togather {
  justify-content: space-between;
  background: F5F0E7;
}

.navbar-togather .navbar-collapse {
  flex-grow: 0;
}

//Font and Color for "About Us","Find Activity" & "Share Moments"//
.nav-link {
  color: $red;
  font-family: 'Source Serif Pro', sans-serif;
}

//Avatar img circle//
.navbar-togather .navbar-brand img {
  width: 40px;
}

//Individual link//
.nav-item {
  padding-left: 1rem;
}


//Host Activity Button//
.host-activity:hover {
  font-family: 'IM Fell Great Primer', "sans-serif";
  background: $red;
  border-radius: 5px;
  color: $white !important;
  /* Change this to the desired hover color */
}

//searchbar margin to left
.search-bar {
  // margin-right: 190px;
}