.navbar {
  background-color: $yellow-orange;
}

.navbar-brand:hover {
  color: $orange;
}


//Logo Font and Color//
.navbar-brand {
  font-family: 'Lemon';
  font-size: xx-large;
  color: $red;
}

.navbar-togather {
  justify-content: space-between;
  background: F5F0E7;
}

.navbar-togather .navbar-collapse {
  flex-grow: 0;
}

//Font and Color for "About Us","Find Activity" & "Share Moments"//
.nav-link {
  color: $red;
  font-family: 'Source Serif Pro', sans-serif;
  padding-top: 23px;
}

nav-link //Avatar img circle//

.navbar-togather .navbar-brand img {
  width: 40px;
}

//Individual link//
.nav-item {
  padding: 10px;
}


//Dropdownj button//
.dropdown-item {
  color: $red;
}

.dropdown-item:hover {
  background: $light-orange;
  color: $white !important;
}

.user-name {
  background: $red;
  color: $white !important;
}

//Host Activity Button//
.host-activity {
  margin-top: 16px;
}

.host-activity:hover {
  font-family: 'IM Fell Great Primer', "sans-serif";
  background: $red;
  border-radius: 5px;
  color: $white !important;
  /* Change this to the desired hover color */
}

.search-bar-nav {
  background: $red;
}