<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3">
      <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary mx-3"%>
      <% end %>

      <div class="activities">
        <% if @activities.any? %>
          <% @activities.each do |activity| %>
          <br>
              <%= render activity %>

          <% end %>
        </div>
  </div>
</div>
